/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: aquamarine;
}

/* UTILITIES */

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
      align-items: center;
}

.text-center {
    text-align: center;
}

/* HEADER */

header {
    margin-bottom: 3rem;
    padding: 1rem;
    background: #fff;
}

.brand {
    font-size: 2em;
    font-weight: 700;
}

.brand img {
    width: 50px;
    margin-right: 1rem;
}

.toolbar select {
    width: 150px;
    margin: 0 .5rem; 
}

.toolbar button {
    width: 80px;
}

/* GRID */
.grid {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    margin: 60px auto;
    border: 1px solid #000;
}

.square {
   display: flex;
   justify-content: center;
   align-items: center;
   /* width: calc(100% / 10);
   height: calc(100% / 10); */ 
   border: 1px solid #000;
   cursor: pointer;
}

.square.clicked {
    color: #fff;
    background: #6495ed;
}